.footer{
  background-color: var(--primary-color);
  color: #fff;
  h4{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
  }
  &__top{
    @include space(y, 113px, 90px);
    font-size: 20px;
    line-height: 1.25;
    .logo{
      display: inline-block;
      img{
        width: 279px;
      }
    }
  }
  &__col{
    @include col-sizing(42.5%);
    margin-left: auto;
  }
  &__widgets{
    @include flexbox(flex-start, space-between);
  }
  .widgets{
    //@include col-sizing(40%);
    flex-basis: 160px;

    ul{
      @include listReset;
      li{
        margin-bottom: 22px;
      }
      a{
        border-bottom: 1px solid transparent;
        &:hover{
          border-bottom-color: inherit;
        }
      }
    }
  }
  &__subscribe{
     padding-bottom: 60px;
    .subscribe-form{
      .gform{
        &_body{
          flex: 1 1 0;
          [type='email']{
            background-color: transparent;
            border-color: #fff;
            color: #fff;
            height: 70px;
            border-right: none;
            @include input-placeholder{
              color: #fff;
            }
          }
        }
        &_footer{
          [type='submit']{
            @extend .btn--secondary;
          }
        }
      }
    }
  }
  &__bottom{
    padding-bottom: 80px;
    font-size: 16px;
    a{
      border-bottom: 1px solid transparent;
      &:hover{
        border-bottom-color: inherit;
      }

    }
  }
  @include respond-below(md){
    &__top {
      font-size: 18px;
      @include space(y, 60px);
      .logo img{
        width: 190px;
        margin-right: 50px;
      }
    }
    &__row{
      flex-wrap: nowrap;
    }
    &__widgets{
      max-width: none;
      @include col-sizing;
    }
  }
  @include respond-below(sm){
    &__top{
      font-size: 14px;
      @include space(y, 40px);
      .logo img{
        margin-bottom: 40px;
        @include size(45px);
      }
    }
    &__row{
      flex-wrap: wrap;
    }
    &__widgets{
      @include col-sizing(100%);
    }
    .widgets{
      &:not(:last-child){
        margin-bottom: 32px;
      }
      ul{
        li{
          margin-bottom: 5px;
        }
      }
    }
    h4{
      font-size: 24px;
      margin-bottom: 23px;
    }
    &__subscribe{
      padding-bottom: 40px;
      .subscribe-form .gform{
        &_body, &_footer{
          @include col-sizing(100%);
        }
        &_body{
          [type=email]{
            height: 40px;
            border: 2px solid #fff;
          }
        }
      }
    }
    &__bottom{
      padding-bottom: 40px;
      font-size: 14px;
    }
  }
}