// extends
%hide{
  display: none;
}

// General
html{
  font-size: 10px;
}
body{
  font: {
    size: 25px;
    family: var(--font-main);
    weight: 400;
  }
  color: rgba($text-color, 0.8);
  line-height: 1.6;
}
p{
  @include txtM0;
  margin-bottom: 14px;
}
strong{
  font-weight: 700;
}
.wrapper{
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  @include flex-column();
}
.page-content {
  width: 100%;
  flex: 1 0 auto;
  position: relative;
  z-index: 1;
  @include flex-column();
  section{
    content-visibility: auto;
  }
}
.container{
  @include container();
  &.container-fluid{
    max-width: 100%;
    @include space(x, 0);
  }
}

.row{
  @include m-space(calc(-1*var(--col_space)));
  @include flex;
    > *{
      @include space(x, var(--col_space));
    }
    > .col{
      position: relative;
      @include col-sizing(100%);
      &--half{
        @include col-sizing(50%);
      }
    }
  @include respond-below(sm){
    > .col{
      &--half{
        @include col-sizing(100%);
      }
    }
  }
}

//  Headings

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
  color: $text-color;
}
h1, .h1, h2, .h2{
  font-weight: 700;
  margin-bottom: 37px;
}
h1,.h1{
  font-size: 56px;
  line-height: 1.42;
}
h2,.h2{
  font-size: 48px;
  line-height: 1.3333;
}
h3,.h3{
  font-size: 42px;
  line-height: 1.31;
  margin-bottom: 31px;
}
h4,.h4{
  font-size: 35px;
  line-height: 1.28;
  margin-bottom: 31px;
}
h5, .h5{
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 14px;
}
h6,.h6{
  font-size: 18px;
  line-height: 1.388;
  margin-bottom: 20px;
}
a{
  color: inherit;
  text-decoration: underline;
  text-decoration-color: transparent;
  @include trns();
  &:hover{
    text-decoration-color: initial;
  }
}
p , small{
  > a{
    text-decoration: underline;
    color: var(--link-color);
    &:hover{
      text-decoration-color: transparent;
    }
  }
}
.link{
  display: inline-block;
  &:after{
    @include pseudoLink();
  }
  &:hover{
    border-bottom-color: transparent;
  }
}
.strached-link{
  &:after{
    @include pseudoLink();
  }
}
.text-primary{
  color: var(--primary-color);
}
.text-highlighted{
  position: relative;
  &:after{
    border-radius: 5px;
    left: 0;
    top: 100%;
    background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
    @include size(100%, 7px);
    @include pseudo();
  }
}

@include respond-below(xl){
  html{
    font-size: 5px;
  }
}
@include respond-below(lg){
  body{
    font-size: 20px;
  }
  h1,.h1{
    font-size: 46px;
    line-height: 1.42;
  }
  h2,.h2{
    font-size: 40px;
    line-height: 1.25;
  }
  h3,.h3{
    font-size: 38px;
    line-height: 1.48;
  }
  h4,.h4{
    font-size: 30px;
    line-height: 1.5;
  }
  h5, .h5{
    font-size: 20px;
  }
  h6,.h6{
    font-size: 16px;
    line-height: 1.5;
  }
}
@include respond-below(xs){
  body{
    font-size: 18px;
  }
  h1,.h1{
    font-size: 26px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  h2,.h2{
    font-size: 24px;
    line-height: 1.5;
  }
  h3,.h3{
    font-size: 22px;
    line-height: 1.5;
  }
  h4,.h4{
    font-size: 20px;
    line-height: 1.5;
  }
  h5, .h5{
    font-size: 18px;
  }
}

.mobile-nav {
}


// Buttons
.btn{
  padding: 4px 23px;
  @include inline-flexbox(center, center);
  font: {
    weight: 500;
    size: 23px;
  };
  letter-spacing: 0.02em;
  border-radius: 12px;
  .icon{
    margin-right: 14px;
    @include size(23px);
  }
  &--primary{
    background-color: var(--primary-color);
    color: #fff;
    &:hover{
      background-color: var(--text-color);
    }
  }
  @include respond-below(xl){
    border-radius: 10px;
    font-size: 18px;
    @include space(y, 7px);
    .icon{
      @include size(20px);
    }
  }
  @include respond-below(sm){
    font-size: 20px;
    padding: 5px 32px;
  }
  @include respond-below(xs){
    border-radius: 6px;
    font-size: 14px;
    padding: 7px 18px;
    .icon{
      @include size(14px);
    }
  }
}

// Forms
%input-style{

  &:focus{
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.35);
  }
  @include input-placeholder{
    color: #87A2B3;
  }
  @include respond-below(sm){

  }
}
input{
  &.form-field,
  &[type=number],
  &[type=search],
  &[type=tel],
  &[type=time],
  &[type=url],
  &[type=color],
  &[type=email],
  &[type=week],
  &[type=month],
  &[type=datetime-local],
  &[type=datetime],
  &[type=date],
  &[type=password],
  &[type=number],
  &[type=text]{
    @extend %input-style;
  }
  &[type=checkbox],
  &[type=radio],
  &[type=file]{
    display: none;
  }
}
.placeholder{
  color: #87A2B3;
}
[type=submit]{
  @extend .btn, .btn--primary;
  @include respond-below(xs){
    width: 100%;
  }
}
textarea {
  @extend %input-style;
}

.menu {
  @include listReset();
  @include flexbox();

  &__item{
    @include space(x, 2.5rem);
    &:first-child{
      padding-left: 0;
    }
    &--has-children{
      .icon{
        @include size(13px, 12px);
      }
    }
    &--phone{
      margin-left: auto;
      .icon{
        margin-right: 0.7rem;
        @include size(19px);
      }
    }
  }
  @include respond-below(xl){
    &__item{
      &--phone{
        .icon{
          @include size(15px);
        }
      }
    }
  }
}

.section-breadcrumbs{
  @include space(y, 12px);
}
.breadcrumbs{
  font-size: 16px;
  color: rgba($text-color, 0.5);
  display: flex;
  @include listReset;
  > li{
    position: relative;
    + li{
      padding-left: 26px;
      &:before{
        left: 5px;
        @include pseudo("—");
      }
    }
  }
}
[data-hidden]{
  > *{
    transform: translateY(30px);
    opacity: 0;
    @include trns($duration: .8s, $delay: var(--anim-delay));
  }
}
[data-hidden="false"]{
  > *{
    transform: translateY(0);
    opacity: 1;
  }
}
// visibility
.hide{
  @extend %hide;
}
@each $key, $value in $breakpoints {
  .d-flex-#{$key}-down{@extend %hide}
  .d-block-#{$key}-down{@extend %hide}

  @include respond-below($key){
    .d-flex-#{$key}-down{
      @include flex(nowrap);
    }
    .d-block-#{$key}-down{
      display: block;
    }
    .d-none-#{$key}-down{
      display: none;
    }
  }
}


// keyframes
@include keyframes(bounce){
  0%{transform: scale(0)}
  80%{transform: scale(1.1)}
  100%{transform: scale(1)}
}
@include keyframes(fade){
  0%{opacity: 0}
  100%{opacity: 1}
}