.logo{
  @include respond-below(sm){
    img{
      @include size(35px);
    }
  }
}

.submenu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @include space(y, 155px, 51px);
  background-color: var(--primary-color);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  @include trns($delay: .2s);

  .row{
    align-items: flex-start;
  }
  &__title{
    @include col-sizing(45%);
  }
  &__links{
    @include col-sizing(55%);
    ul{
      @include listReset;
      position: relative;
      > li{
        margin-bottom: 7px;
        a{
          text-decoration: underline;
          text-decoration-color: transparent;
          &:hover{
            text-decoration-color: initial;
          }
        }
      }
    }
  }
}
.header{
  @include trns;
  &_abs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    color: #fff;
  }
  &__main{
    @include space(y, 45px);
    .row{
      align-items: center;
      justify-content: space-between;
    }
  }
  &__nav{
    flex-grow: 1;
    font-size: 22px;
    .menu__item{
      > a{
        position: relative;
        z-index: 100;
      }
      &--has-children{
        &:hover {
          &:before{
            top: 0;
            @include center(x);
            @include size(100%);
            @include pseudo();
          }
          .submenu{
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    .submenu .row{
      align-items: flex-start;
    }
  }
  &__btns, &__logo{
    position: relative;
    z-index: 100;
  }
  @include respond-below(lg){
    &__nav{
      font-size: 20px;
    }
    &__btns .btn{
      font-size: 20px;
      @include space(x, 25px);
    }
  }
  @include respond-above(md){
    &__nav{
      @include flexbox(center, flex-end);
    }
  }
  @include respond-below(md){
    body.mobile-menu-open &{
      z-index: 9999;
    }
    &__main{
      --x-space: 40px;
      @include space(y, 35px);
    }
  }
  @include respond-below(sm){
    &__main{
      --x-space: 22px;
      @include space(y, 21px);
    }
  }
}


.menu-toggle{
  line-height: 1;
  .icon{
    @include size(45px);
  }
  @include respond-below(sm){
    .icon{
      @include size(22px);
    }
  }
}
