
.section-learning{
  padding-bottom: 72px;
  &__text{
    @include col-sizing(58.3%);
    h1{
      margin-bottom: 19px;
    }
  }
  &__price{
    font-size: 25px;
    margin-bottom: 12px;
  }
  &__media{
    text-align: center;
    align-self: flex-start;
    @include col-sizing(41.7%);
    figure{
      background: {
        image: url("../images/Bg_stars.webp");
        repeat: repeat-x;
        position: 50% 100%;
      };
      padding-bottom: 4.4rem;
      margin: 0;
    }
  }
  @include respond-below(lg){
    padding-bottom: 48px;
    &__text h1, &__price{
      margin-bottom: 37px;
    }
  }
  @include respond-below(sm){
    padding-bottom: 38px;
    @at-root {
      section#{&}{
        content-visibility: visible;
      }
    }
    .row{
      --col_space: 13px;
    }
    &__price{
      margin-bottom: 22px;
    }
    &__text{
      @include col-sizing(66%);
      h1{
        display: none;
      }
    }
    &__media{
      @include col-sizing(34%);
      figure{
        width: 53vw;
        background-image: none;
      }
    }
  }
  @include respond-below(xs){
    @include space(y, 30px, 58px);
    &__title{
      max-width: 64%;
    }
    &__price{
      margin-bottom: 13px;
    }
    &__text{
      @include col-sizing(100%);
    }
    &__media{
      @include col-sizing(0%);
      padding: 0;
      figure{
        width: 273px;
        background-image: none;
        transform: translate(-50%, -80%);
      }
    }
  }
}

.price{
  @include inline-flexbox(normal, center);
  &__icon{
    margin-right: 25px;
    color: var(--primary-color);
    @include size(48px);
  }
  &__amount{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 38px;
    @include m-space(10px);
  }
  &__currency{
    font-size: 30px;
  }
}

.section-short-about{
  --cont-width: 1366px;
  @include space(y, 70px);
  &__head{
    text-align: center;
    margin-bottom: 85px;
  }
  @include respond-below(lg){
    --cont-width: 1075px;
    @include space(y, 38px);
  }
  @include respond-below(sm){
    @include space(y, 28px);
    &__head{
      margin-bottom: 75px;
    }
  }
  @include respond-below(sm){
    &__head{
      margin-bottom: 50px;
    }
  }
}

.img-text-block{
  margin-bottom: 8px;
  > .row{
    --col_space: 40px;
    align-items: center;
  }
  &__media{
    @include col-sizing(39%);
  }
  &__text{
    @include col-sizing(61%);
  }
  &--reverse{
    > .row{
      flex-direction: row-reverse;
    }
  }
  @include respond-below(sm){
    &:not(:last-child){
      margin-bottom: 70px;
    }
    > .row{
      --col_space: 20px;
    }
  }
  @include respond-below(xs){
    &:not(:last-child){
      margin-bottom: 40px;
    }
    > .row{
      justify-content: center;
    }
    &__media{
      margin-bottom: 34px;
      @include col-sizing(83%);
    }
    &__text{
      @include col-sizing(100%);
    }
  }
}

.section-sales{
  @include space(y, 62px);
  &__head{
    text-align: center;
    margin-bottom: 85px;
    h2{
      margin-bottom: 30px;
    }
  }
  &__body{
    > .row{
      justify-content: space-between;
      > .col{
        @include col-sizing(20.5%);
      }
    }
  }
  @include respond-below(lg){
    &__body{
      > .row{
        > .col{
          @include col-sizing(21%);
        }
      }
    }
  }
  @include respond-below(md){
    &__body{
      > .row{
        > .col{
          @include col-sizing(25%);
        }
      }
    }
  }
  @include respond-below(sm){
    &__head{
      h2, p{
        br{
          display: none;
        }
      }
    }
    &__body{
      @include space(x, 10%);
      > .row{
        --col_space: 30px;
        > .col{
          @include col-sizing(50%);
        }
      }
    }
  }
  @include respond-below(xs){
    &__head{
      margin-bottom: 50px;
    }
    &__body{
      > .row{
        > .col{
          @include col-sizing(100%);
        }
      }
    }
  }
}

.card{
  font-size: 18px;
  margin-bottom: 60px;
  &__icon{
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
    border-radius: 15px;
    @include size(70px);
    @include flexbox(center, center);
    margin-bottom: 30px;
    > .icon{
      @include size(75%);
    }
  }
  @include respond-below(lg){
    font-size: 16px;
    &__icon{
      @include size(60px);
    }
  }
  @include respond-below(sm){
    &__icon{
      margin-bottom: 15px;
    }
  }
  @include respond-below(xs){
    margin-bottom: 40px;
    text-align: center;
    &__icon{
      margin: 0 auto 20px;
    }
  }
}
