
$primary-color: #CF51CE;
$text-color: #331A2F;

//breakpoints
$breakpoints: (
        xl: 1440px,
        lg: 1281px,
        md: 1025px,
        sm: 769px,
        xs: 578px,
        xxs: 450px,
);


