// variables
$primary_color: #56C2E1;
$bg: rgba(86, 194, 225, 0.1);

//breakpoints
$breakpoints: (
    xl: 1367px,
    lg: 1200px,
    md: 1025px,
    sm: 769px,
    xs: 578px,
    xxs: 450px,
);


